In [ ]:
pip install apyori

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [15]:
df = pd.read_csv("Market Basket_Small dataset.csv")
display(df.head(15))
print(df.shape)

    Wine   Chips  Bread  Butter  Milk   Apple
0   Wine   Chips  Bread  Butter  Milk   Apple
1   Wine   Chips  Bread  Butter  Milk     NaN
2   Wine   Chips    NaN  Butter  Milk     NaN
3   Wine     NaN  Bread     NaN    NaN  Apple
4     NaN    NaN    NaN  Butter  Milk     NaN
5     NaN  Chips  Bread     NaN    NaN  Apple
6   Wine   Chips    NaN  Butter  Milk     NaN
7   Wine     NaN  Bread     NaN    NaN  Apple
8   Wine     NaN  Bread     NaN  Milk     NaN
9     NaN  Chips  Bread  Butter    NaN  Apple
10  Wine     NaN    NaN  Butter  Milk   Apple
11  Wine   Chips  Bread  Butter  Milk     NaN
12  Wine     NaN  Bread     NaN  Milk   Apple
13  Wine     NaN  Bread  Butter  Milk   Apple
14  Wine   Chips  Bread  Butter  Milk   Apple

(21, 6)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Wine    15 non-null     object
 1   Chips   13 non-null     object
 2   Bread   15 non-null     object
 3   Butter  14 non-null     object
 4   Milk    16 non-null     object
 5   Apple   14 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [13]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Convert DataFrame to a list of lists and convert values to strings
transactions = df.astype(str).values.tolist()

# Convert the transaction data to a one-hot encoded DataFrame
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.1, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Display the association rules
print(rules)

                              antecedents             consequents  \
0                                 (Apple)                 (Bread)
1                                 (Bread)                 (Apple)
2                                 (Apple)                 (Milk )
3                                 (Apple)                 (Wine )
4                                 (Apple)                   (nan)
..                                    ...                     ...
204  (Milk , Bread, Chips, Butter, Apple)                 (Wine )
205          (Wine , Milk , Chips, Apple)         (Bread, Butter)
206          (Wine , Bread, Chips, Apple)         (Milk , Butter)
207         (Wine , Chips, Butter, Apple)          (Milk , Bread)
208                 (Wine , Chips, Apple)  (Milk , Bread, Butter)

     antecedent support  consequent support   support  confidence      lift  \
0              0.666667            0.714286  0.571429    0.857143  1.200000
1              0.714286            0.666667  0.571429    0.800000  1.200000
2              0.666667            0.761905  0.476190    0.714286  0.937500
3              0.666667            0.714286  0.476190    0.714286  1.000000
4              0.666667            0.857143  0.523810    0.785714  0.916667
..                  ...                 ...       ...         ...       ...
204            0.190476            0.714286  0.142857    0.750000  1.050000
205            0.190476            0.428571  0.142857    0.750000  1.750000
206            0.190476            0.619048  0.142857    0.750000  1.211538
207            0.142857            0.523810  0.142857    1.000000  1.909091
208            0.190476            0.380952  0.142857    0.750000  1.968750

     leverage  conviction  zhangs_metric
0    0.095238    2.000000       0.500000
1    0.095238    1.666667       0.583333
2   -0.031746    0.833333      -0.166667
3    0.000000    1.000000       0.000000
4   -0.047619    0.666667      -0.214286
..        ...         ...            ...
204  0.006803    1.142857       0.058824
205  0.061224    2.285714       0.529412
206  0.024943    1.523810       0.215686
207  0.068027         inf       0.555556
208  0.070295    2.476190       0.607843

[209 rows x 10 columns]